/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
ul.legalfooter li{
	list-style:none;
	float:left;
	padding-right:20px;
}
.accept{
	display:none;
	border: 1px solid #000;
	background:#000;
	color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:5px;
}

/* CSS for Age verification overlay*/

#lp-overlay-wrap {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #E6E6E6;
	z-index: 10000;
	display: block;
	top: 0;
	left: 0;
}
#agelogo{
	text-align:center;
}

.buttons-set {
	text-align: center;
	display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lp-overlay {
	text-align: center;
	position: fixed;
	top: 280px;
	left: 0;
	height: auto;
	width: 40%;
	background: white;
	z-index: 10001;
	color: #1F2937;
	font-family: 'Roboto', sans-serif;
	padding: 32px 56px 32px 56px;
	-webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	-moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 8px;
	font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
	gap: 24px;
}
#lp-overlay h1 {
	margin-bottom: 20px;
}
#lp-overlay p {
	margin-bottom: 10px;
}
#lp-overlay .submit {
	display: flex;
	margin-bottom: 0;
	text-align: center;
}

#lp-overlay input[type=text] {
	width: 50px;
	outline: none;
}

#lp-overlay .error {
	padding: 12px;
	background-color: #ffebe8;
	border: 1px solid #c00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input#lp_verify_remember
{
	margin: auto;
	margin-right: 5px;
	font-size: 16px;
	line-height: 24px;
}

#lp_verify_remember_wrap{
	display: flex;
	align-items: center;
	flex-direction: row;
}

input#lp_verify
{
	margin-left: 5%;
	font-size: 16px;
	height: 42px;
	width: auto;
	white-space: normal;
	word-wrap: break-word;
	border: 1px solid;
	border-radius: 8px;
	padding: 8px 32px 8px 32px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	background-color: #074EA8;
	color: #fff;
	border-color: #074EA8;
	cursor: pointer;
}

#lp_verify_m, #lp_verify_d, #lp_verify_y{
	background-color: white;
	border: 1px solid #9CA3AF;
	border-radius: 	4px;
	padding: 10px 14px 10px 14px;
	font-size: 14px;
	line-height: 24px;
	height: 42px;
	margin-right: 10px;
	appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none;
	background-image: url('./icons/select-arrow-down.png');
	background-position: right 8px top 14px;
    background-repeat: no-repeat;
}

#lp_verify_m{
	width: 116px;
}

#lp_verify_d{
	width: 68px;
}

#lp_verify_y{
	width: 84px;
}

form#lp_age_verify_form table.form-table label
{
	width: -webkit-fill-available;
}

form#lp_age_verify_form table.form-table label span.description
{
	font-weight: 100;
	margin-left: 3%;
}



/* Minimum width of 400 pixels. */
@media screen and (min-width: 400px) {

	#lp-overlay {
		position: relative;
		left: auto;
		width: 35%;
		height: auto;
		margin: 100px auto 0 auto;
	}

}
@media screen and (max-width: 768px) {

	#lp-overlay {
		position: relative;
		left: auto;
		width: 90%;
		height: auto;
		margin: 100px auto 0 auto;
	}
}

.buttons-set input#lp_verify_yes, .buttons-set input#lp_verify_no,  .buttons-set input#lp_verify_leave{
	font-size: 16px;
	height: 42px;
	width: auto;
	white-space: normal;
	word-wrap: break-word;
	border: 1px solid;
	border-radius: 8px;
	padding: 8px 32px 8px 32px;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	font-weight: 500;
}

.buttons-set input#lp_verify_no,  .buttons-set input#lp_verify_leave{
	border-color: #074EA8;
	background-color: transparent;
	color: #074EA8;
}

.buttons-set input#lp_verify_yes{
	background-color: #074EA8;
	color: #fff;
	border-color: #074EA8;
}

.verify{
	margin-top: 6%;
	margin-bottom: 3%;
}

span.agebutton {
	max-width: 48%;
	display: inline-block;
	margin: 0 5px;
}
div#TB_ajaxContent{
	background-color: #fff;
}
div.wplegalpages-addon-promotion > a {
	display: block;
	margin: 1% auto;
	text-align: center;
}

#lp_verify_form {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
}