#fancybox-wrap {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}

#fancybox-outer {
	position: relative !important;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}

#fancybox-inner {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}

.surveyFunnelDiv.survey_container_body{
	height : auto !important;
}
div.fancybox-inner{
   height:auto!important;  /* Added css to fix bug with trigger image Survey where scroll bar shows in popup */
}
