/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.clear{
	clear:both;
}
#lp_generalid{
padding:5px 20px 20px 20px;
width:73%;
float:left;
}
#lp_generalid_right{
	float:left;
	/*width:280px;*/
	margin-left:20px;
	margin-top:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding-bottom:10px;
	display: inline-block;
}

#lp_generalid p{
font-size:16px;
}
#lp_generalid input[type=text]{
	width:800px;
	height:30px;
	color:#666;
	font-size:20px;
	padding:3px 4px;
}
#lp_generalid input[type=submit]{
	width:100px;
	height:30px;
	color:#000;
	cursor:pointer;
	font-size:20px;
	padding:3px 4px;
}
#lp_generalid_right li{
	list-style:square;
	line-height:20px;
	list-style-position:inside;
	padding-left:10px;
}
#lp_generalid_right li span{
	font-size:16px;
	cursor:pointer;
}
#lp_generalid p a{
text-decoration:none;
}
#content p{
	width:800px;
}
a{text-decoration:none;}

.hndle {cursor:pointer; padding:7px 10px; font-size:20px;}

#lp_admin_generalid{
padding:5px 20px 20px 20px;
width: 755px;
float: left;
}
#lp_admin_generalid td{
padding:5px;
height:20px;
font-size: 14px;
}
.toplevel_page_legal-pages .postbox{
min-height: 600px;
}
#lp_admin_generalid_right img{
margin-bottom: 0.5%;
}

#lp_admin_generalid input[type=text]{
	width:300px;
	height:30px;
	font-size:14px;
	color:#666;
}
#lp_admin_generalid p{
font-size:16px;
}
#lp_admin_generalid p a{
text-decoration:none;
}
.savesettings{
    margin-right: 12px;
    border: medium none;
    background: rgb(2, 103, 189) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 10px 13px 10px 15px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
}

.mybtn{
padding-bottom:30px !important;
border:1px solid grey !important;
color:white !important;
}

.myText{
width:760px !important;
}

.myLink{
text-decoration:none !important;
}

.myLabel{
color:#337ab7 !important;
font-size:14px !important;
}

.myLabel-head{
color:#0073aa !important;
font-size:22px !important;
}

.myAlert{
font-size:12px !important;
padding:5px !important;
}

 		/* toggle css */
 		.switch {
 		  position: relative;
 		  display: inline-block;
 		  width: 55px;
 		  height: 25px;
 		}

 	.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}


.lp_eu_custom_css{
	margin-top: 15px;
}

#lp_eu_theme_css {
    position: relative;
    top: -5px;
}.field_title{
color:#337ab7 !important;
font-size:14px !important;
}

.top_pad{
padding-top: 20px;
}

.left_pad{
padding-top: 12px;
padding-left: 14px;
}

.all_pad{
  padding: 20px;
}

.title-head{
color:#0073aa !important;
font-size:22px !important;
}

/* toggle css */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

/* WP pointer */
.wp-pointer {
	left: 440px !important;
    width: 432px !important;
}

.more-info{
	padding: 25px 33px;
overflow: hidden;
}
.postbox .hndle.myLabel-head {
	padding: 15px 10px !important;
	font-size: 20px;
	background-color: #0073aa !important;
	color: white !important;
	margin: 0;
}

.wrap.legal-admin-page {
    margin: 0;
}
div#lp_admin_generalid {
    width: 100%;
}
div#lp_admin_generalid_right {
    display: inline-block;
    width: 100%;
    padding: 30px;
}
.lp-pro-link {
	display: inline-block;
	border: 1px solid;
}

.lp-pro-link .hndle {
	cursor: pointer;
	padding: 5px;
	font-size: 20px;
	margin: 5px;
}
.lp_generalid_right_wraper {
    display: inline-block;
    width: 25%;
}

.lp_generalid_right_wraper {
    padding-top: 20px;
}
div.wplegalpages-addon-promotion > a,
div.wplegalpages-pro-promotion > a {
	display: block;
	margin: 1% auto;
	text-align: center;
}
div.wplegalpages-addon-promotion img,
div.wplegalpages-pro-promotion img {
	max-width: 100%;
	height: auto;
}
