<p>Effective date - [Last Updated]</p>
<p>[Domain] operated by [Business Name] is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for website owners to earn advertising fees by advertising and linking to amazon.com, endless.com, smallparts.com, myhabit.com, and any other website that may be affiliated with Amazon Service LLC Associates Program.</p>
<p>Throughout this website, we link to Amazon products (with a special code for affiliates embedded in the link). These are affiliate links.</p>
<p>Every time you click on such an affiliate link on [Domain] and purchase from Amazon, we earn a small commission at no extra cost to you.</p>
<p>As Amazon Associates, we earn from qualifying purchases.</p>
<p><em>Prices are exactly the same for you whether you purchase through an affiliate link or a non-affiliate link. ​You will not pay more by clicking through to the link.</em></p>
<p>While there’s no extra cost to you, this small commission supports us in keeping [Domain] up to date and running.</p>
<p>Amazon and the Amazon logo are trademarks of Amazon.com, Inc.</p>