<p>Effective date - [Last Updated]</p>
<p>What is spam?</p>
<p>In the context of electronic messaging, spam refers to unsolicited, bulk or indiscriminate messages, typically sent for a commercial purpose.</p>
<p>[Business Name] [Domain] has a zero-tolerance spam policy.</p>
<b>Automated spam filtering</b>
<p>[Domain]'s messaging systems automatically scan all incoming email messages, and filter out messages that appear to be spam.</p>
<b>Problems with spam filtering</b>
<p>No message filtering system is 100% accurate, and from time to time legitimate messages will be filtered-out by [Domain]'s systems.</p>
<p>If you believe this has happened to a message you have sent, please advise the message recipient by another means.</p>
<p>You can reduce the risk of a message being caught by the spam filters by sending the message in plain text (i.e. no HTML), removing any attachments, and ensuring that your messages are scanned for malware before dispatch.</p>
<b>Receipt of unwanted messages from [Domain]</b>
<p>In the unlikely event that you receive any message from [Domain] or sent using [Domain]'s systems that may be considered to be spam, please contact [Domain] using the details below and the matter will be investigated.]</p>
<b>Changes to this anti-spam policy</b>
<p>[Domain] may amend this anti-spam policy at any time by publishing a new version on this website.</p>