<p>Effective date - [Last Updated]</p>
<p>We encourage and welcome comments on our blog. We would also like to thank everyone who takes their time out in posting comments on [Business Name].</p>
<p>We generally post all the comments which are useful to all of our readers. However, there are certain instances where we edit or delete the comment(s). This includes:</p>
<ul><li>Comments that are posted solely for the purpose of promotion.</li><li>Comments that are spam or have a spammy nature.</li><li>Comments which use vulgar language or swear words.</li><li>Comments which attack / harass another person individually.</li></ul>
<p>We recommend everyone to follow our comment policy rules to help you keep the blog a constructive place for discussion. We reserve the right to edit or delete comments submitted to this blog at any time without notice. The comment policy may be changed at any point of time.</p>
