<p>Effective date - [Last Updated]</p>
<p>This Confidentiality Disclosure Agreement ("Agreement") is entered into effective [date] (the "Effective Date") between:</p>
<p>[disclosing-party] (the "Disclosing Party"), hereinafter referred to as the "Disclosing Party" ("Disclosing Party", which expression shall mean and include its authorized representative(s), associates, affiliate, partners it may be appointed on its behalf or who benefit from this Agreement),</p>
<p>and</p>
<p>[recipient-party] hereinafter referred to as the "Recipient Party"("Recipient Party", which expression shall mean and include its authorized representative(s), associates, affiliate, partners it may be appointed on its behalf or who benefit from this Agreement).</p>
<p>The Disclosing Party and the Recipient Party are referred to each as a Party and collectively as the Parties.</p>
<p>The Parties wish to discuss certain business opportunities. These discussions may require the Disclosing Party to disclose Confidential Information to the Recipient Party. The Parties wish to protect that Confidential Information.</p>
<strong>Definitions</strong>
<p>Disclosing Party means the Party whose Confidential Information is received by the Recipient Party.</p>
<p>Recipient Party means the Party that receives the Disclosing Party's Confidential Information.</p>
<strong>Confidential Information</strong>
<p>Confidential Information means any information of or about the Disclosing Party that is:</p>
<p>is identified as "confidential" or "proprietary" or "private" at the time of disclosure, when delivered orally or by any other means</p>
<strong>Confidential Information will not apply to information that is:</strong>
<p>already in Recipient Party's possession without obligation of confidentiality, obtained from a third party without obligation of confidentiality independently developed by the Recipient Party.</p>
<strong>Obligations and exceptions to obligations</strong>
<p>The Disclosing Party warrants that it has the right to disclose its Confidential Information to the Recipient Party.</p>
<p>The Recipient Party agrees not to use the Confidential Information for its own use or for any other purpose other than to carry out the discussions on business opportunities between the Parties.</p>
<p>The Recipient Party agrees that it will not, without the prior written consent of the Disclosing Party:</p>
<p>copy, reproduce, distribute or disclose any of the Disclosing Party's Confidential Information to any person, corporation or other entity other than as permitted in writing between the Parties.</p>
<strong>Nothing in this Agreement:</strong>
<p>restricts the right of a Party to develop, procure or market products and/or services which may be competitive with those offered by the other Party so long as there is no authorized use of the Confidential Information of the other Party.</p>
<strong>Governing Law</strong>
<p>This Agreement shall be governed, construed and interpreted in accordance with the laws of [City, State, Zip code], [Country].</p>
<strong>Termination</strong>
<p>This Agreement will be effective as of the Effective Date and will continue for [duration] unless terminated by each Party upon [days] prior written the notice.</p>
