<p>Effective date - [Last Updated]</p>
<p>My Company [Business Name] (“us”, “we”, or “our”) My Website [Domain] is committed to respecting your privacy. This privacy policy informs you about how our organization collects, stores and uses your personal data that you provide when you use our website.</p>
<strong>Topics included:</strong>
<ul>
    <li><a href="#privacy_1">What data do we collect?</a></li>
    <li><a href="#privacy_2">How do we collect and use your data?</a></li>
    <li><a href="#privacy_3">Data used for marketing or shared with third parties</a></li>
    <li><a href="#privacy_4">What are your data protection rights?</a></li>
    <li><a href="#privacy_5">Privacy policies for other websites</a></li>
    <li><a href="#privacy_6">Changes to our privacy policy</a></li>
    <li><a href="#privacy_7">How to contact us?</a></li>
</ul>
<strong id="privacy_1">What data do we collect?</strong>
<p>We collect your personal information. Personal information is any data that relates to an individual to use as identification like:</p>
<ul>
    <li>Personal identification information - This data is provided by you for registration and for using other services - name, email address, phone number, country, state, etc.</li>
    <li>Browser and visit information - This data is provided by your browser and visits you made on our website - browser type, operating system, IP address, demographics, etc.</li>
    <li>Cookie-related information - See cookie policy for cookie-related details.</li>
</ul>
<p>However, you can browse our website without providing your personal information.</p>
<strong id="privacy_2">How do we collect and use your personal information?</strong>
<p>Collection of personal information</p>
<p>We collect your data in the following forms:</p>
<ul>
    <li>Register online or place an order for any products or services</li>
    <li>Complete a survey or provide feedback on our products or services or via emails</li>
    <li>Visit our website using your browser's cookies</li>
</ul>
<p>Use of personal information</p>
<p>We use your personal information for the following purposes:</p>
<ul>
    <li>To create and manage your account on our website</li>
    <li>To process details related to your orders and refunds</li>
    <li>To identify you once you register on our website</li>
    <li>To provide you better usability and service</li>
    <li>To contact you and respond to your queries and feedbacks</li>
    <li>To understand which sections of the website are visited and how frequently</li>
</ul>
<strong id="privacy_3">Data used for marketing or shared with third parties</strong>
<p>Data used for marketing</p>
<p>Based on your preference, our organization would like to send you marketing emails for products, services, and offers that you might like. You have the right at any time to stop our organization from contacting you. You can anytime opt-out of our marketing-related emails at a later date.</p>
<p>Data sharing with third-party sites</p>
<p>Our organization will never share your personal information with third-party sites without taking prior permission from you. Though, we share your personal information within the organization, business partners, authorized third-party services.</p>
<strong id="privacy_4">What are your data protection rights?</strong>
<p>We would like to make sure that you are fully aware of your data protection rights. Every user is entitled to the following rights:</p>
<ul>
    <li>The right to access - You have the right to ask for copies of your personal information provided to us.</li>
    <li>The right to rectification - You have the right to tell us to correct the personal information that you believe needs correction. You also have the right to complete the information you believe is incomplete.</li>
    <li>The right to erase - You have the right to ask us to erase all your personal data at any time.</li>
    <li>The right to object - You have the right to object to our organization's processing of your personal data, under certain conditions.</li>
    <li>The right to data portability - You can anytime ask us to transfer your personal information to any other organization or directly to you, under certain conditions.</li>
</ul>
<strong id="privacy_5">Privacy policies for other linked websites</strong>
<p>Our website contains links from and to other websites. However, our privacy policy applies to only our website and not other linked websites. So, if you click on a link to other websites, you can read their privacy policy.</p>
<strong id="privacy_6">Changes to our privacy policy</strong>
<p>Our organization reviews and updates its privacy policy on a regular basis. We may change our data privacy practices and place any updates on this privacy policy page.</p>
<strong id="privacy_7">How to contact us?</strong>
<p>If you have any queries related to our data privacy practices or this privacy policy, feel free to contact us at [Email]</p>
