<p>Datum des Inkrafttretens - [Last Updated]</p>
<h2>Datenschutzerklärung nach DSGVO</h2>
<p>[Business Name] (“wir”, “uns” oder “unser”) & [Domain] sind verpflichtet, Ihre Privatsphäre zu respektieren. Diese Datenschutzerklärung informiert Sie darüber, wie unsere Organisation Ihre persönlichen Daten, die Sie bei der Nutzung unserer Webseite angeben, sammelt, speichert und nutzt.</p>
<strong>Behandelte Themen:</strong>
<ul>
    <li><a href="#privacy_1">Welche Daten sammeln wir?</a></li>
    <li><a href="#privacy_2">Wie sammeln und verwenden wir Ihre persönlichen Daten?</a></li>
    <li><a href="#privacy_3">Daten, die für Marketingzwecke verwendet oder an Dritte weitergegeben werden</a></li>
    <li><a href="#privacy_4">Was sind Ihre Datenschutzrechte?</a></li>
    <li><a href="#privacy_5">Datenschutzbestimmungen für andere verlinkte Webseiten</a></li>
    <li><a href="#privacy_6">Änderungen an unserer Datenschutzerklärung</a></li>
    <li><a href="#privacy_7">Wie können Sie uns kontaktieren?</a></li>
</ul>
<strong id="privacy_1">Welche Daten sammeln wir?</strong>
<p>Wir sammeln Ihre persönlichen Daten. Persönliche Daten sind alle Daten, die sich auf eine Person beziehen und die als Identifikation verwendet werden können, u.a.:</p>
<ul>
    <li>Persönliche Identifizierungsinformationen: Diese Daten werden von Ihnen zur Registrierung und zur Nutzung anderer Dienste bereitgestellt - Name, E-Mail- Adresse, Telefonnummer, Land, Bundesland usw.</li>
    <li>Browser- und Besuchsinformationen: Diese Daten werden von Ihrem Browser und den Besuchen, die Sie auf unserer Webseite gemacht haben, zur Verfügung gestellt - Browsertyp, Betriebssystem, IP-Adresse, demographische Daten usw.</li>
    <li>Cookie-bezogene Informationen: Siehe Cookie-Richtlinie für Cookie-bezogene Informationen.</li>
</ul>
<p>Sie können jedoch unsere Webseite besuchen, ohne Ihre persönlichen Daten anzugeben.</p>
<strong id="privacy_2">Wie sammeln und verwenden wir Ihre persönlichen Daten?</strong>
<p>Sammlung von persönlichen Daten</p>
<p>Wir sammeln Ihre Daten wie folgt:</p>
<ul>
    <li>Bei Ihrer Online-Registrierung oder wenn Sie eine Bestellung für Produkte oder Dienstleistungen aufgeben</li>
    <li>Wenn Sie eine Umfrage ausfüllen, Feedback zu unseren Produkten oder Dienstleistungen geben oder mittels E-Mail</li>
    <li>Mit den Cookies Ihres Browsers, wenn Sie unsere Webseite besuchen</li>
</ul>
<p>Verwendung von persönlichen Daten</p>
<p>Wir verwenden Ihre persönlichen Daten für die folgenden Zwecke:</p>
<ul>
    <li>Um Ihr Konto auf unserer Webseite zu erstellen und zu verwalten</li>
    <li>Zur Bearbeitung von Informationen im Zusammenhang mit Ihren Bestellungen und Rückerstattungen</li>
    <li>Um Sie nach der Registrierung auf unserer Webseite zu identifizieren</li>
    <li>Um Ihnen bessere Benutzerfreundlichkeit und Dienstleistungen anzubieten</li>
    <li>Um Sie zu kontaktieren und auf Ihre Fragen und Rückmeldungen zu antworten</li>
    <li>Um zu ermitteln, welche Bereiche der Webseite wie häufig besucht werden</li>
</ul>
<strong id="privacy_3">Daten, die für Marketingzwecke verwendet oder an Dritte weitergegeben werden</strong>
<p>Für das Marketing verwendete Daten</p>
<p>Basierend auf Ihren Präferenzen würde unsere Organisation Ihnen gerne Marketing-E- Mails für Produkte, Dienstleistungen und Angebote, die Ihnen gefallen könnten, zusenden. Sie haben jederzeit das Recht, den Kontakt mit unserer Organisation zu unterbinden. Sie können sich jederzeit zu einem späteren Zeitpunkt von unseren marketingbezogenen E-Mails abmelden.</p>
<p>Datenaustausch mit Webseiten Dritter</p>
<p>Unsere Organisation wird niemals Ihre persönlichen Daten mit Webseiten Dritter teilen, ohne vorher Ihre Zustimmung einzuholen. Wir teilen Ihre persönlichen Daten jedoch innerhalb der Organisation, mit Geschäftspartnern und autorisierten Diensten Dritter.</p>
<strong id="privacy_4">Was sind Ihre Datenschutzrechte?</strong>
<p>Wir möchten sicherstellen, dass Sie sich über Ihre Datenschutzrechte voll und ganz bewusst sind. Jedem Nutzer stehen die folgenden Rechte zu:</p>
<ul>
    <li>Das Recht auf Zugang: Sie haben das Recht, Kopien Ihrer uns zur Verfügung gestellten persönlichen Daten zu verlangen.</li>
    <li>Das Recht auf Berichtigung: Sie haben das Recht, uns mitzuteilen, dass die persönlichen Daten, die Sie für berichtigungsbedürftig halten, korrigiert werden müssen. Sie haben auch das Recht, die Ihrer Meinung nach unvollständigen Daten zu vervollständigen.</li>
    <li>Das Recht auf Löschung: Sie haben das Recht, uns jederzeit um die Löschung aller Ihrer persönlichen Daten zu bitten.</li>
    <li>Das Recht auf Widerspruch: Sie haben das Recht, unter bestimmten Bedingungen der Verarbeitung Ihrer persönlichen Daten durch unsere Organisation zu widersprechen.</li>
    <li>Das Recht auf Übertragbarkeit der Daten: Sie können uns jederzeit bitten, Ihre persönlichen Daten unter bestimmten Bedingungen an eine andere Organisation oder direkt an Sie zu übertragen.</li>
</ul>
<strong id="privacy_5">Datenschutzbestimmungen für andere verlinkte Webseiten</strong>
<p>Unsere Webseite enthält Links von und zu anderen Webseiten. Unsere Datenschutzerklärung gilt jedoch nur für unsere Webseite und nicht für andere verlinkte Webseiten. Wenn Sie also auf einen Link zu anderen Webseiten klicken, können Sie deren Datenschutzerklärung lesen.</p>
<strong id="privacy_6">Änderungen an unserer Datenschutzerklärung</strong>
<p>Unsere Organisation überprüft und aktualisiert ihre Datenschutzerklärung regelmäßig. Wir können unsere Datenschutzpraktiken ändern und werden alle Aktualisierungen auf dieser Seite der Datenschutzrichtlinie veröffentlichen.</p>
<strong id="privacy_7">Wie können Sie uns kontaktieren?</strong>
<p>Wenn Sie Fragen zu unseren Datenschutzpraktiken oder dieser Datenschutzerklärung haben, können Sie uns unter [Email] kontaktieren.</p>
