<p>Effective date - [Last Updated]</p>
<ul>
	<li><a href="#cookies_1">What are cookies?</a></li>
	<li><a href="#cookies_2">How do we use cookies?</a></li>
	<li><a href="#cookies_3">What types of cookies do we use?</a></li>
</ul>
<strong id="cookies_1">What are cookies?</strong>
<p>Cookies are often known as browser cookies or tracking cookies. These cookies are small encrypted text files stored in browser directories. Like other web servers, we also place these cookies on your device to collect standard internet log information and visitor behavior information.</p>
<strong id="cookies_2">How do we use cookies?</strong>
<p>The main purpose of placing these cookies is to provide you better user experience on our website. These cookies are used in the following ways:<ul><li>To keep you signed in</li><li>To understand user behavior on how you use our website</li><li>To keep track of user visits and activities</li><li>To auto-fill login details when your re-visit website</li></ul></p>
<strong id="cookies_3">What type of cookies do we use?</strong>
<p>There are many types of cookies, however, our website uses mainly below cookies:</p>
<p>Necessary cookies</p>
<p>These cookies are essential for the basic functions of the website or to provide the product, service or content requested by you. Without these cookies, we will not be able to provide you the products or services asked for.</p>
<p>Functionality cookies</p>
<p>These cookies enable the website to provide enhanced functionality and personalization. These cookies are set to provide better services that we have added to our pages.</p>
<p>Advertising</p>
<p>The website uses this type of cookies to collect information about your visits to our website. Such as:</p>
<ul>
	<li>Which pages did you visit?</li>
	<li>What content did you view?</li>
	<li>Which links did you click?</li>
</ul>
<p>And other information about your browser, IP address, device, location. These cookies are used for advertising purposes.</p>
<p>Analytics cookies</p>
<p>These cookies are set through our site by our advertising partners. These cookies are used to build a profile of your interests and show you relevant advertisements based on your visits. They do not store personal data but store info of your browser and internet device. You can opt-out by not allowing these cookies which will lead to less targeted advertising.</p>
<p>Third-party cookies</p>
<p>We use these cookies from third-party organizations to get insights about our website. These cookies are set by websites that are not visited by you by adding third-party elements like plugins or ads on their website. Third-party cookies also track users activities and save their browsing information for targeting ads.</p>
<p>[wpl_cookie_details]</p>