<p>Effective date - [Last Updated]</p>
<strong>Status of linking policy</strong>
<p>[Domain] welcomes links to this website [made in accordance with the terms of this linking policy].</p>
<p>[This linking policy is intended to assist you when linking to this website.] OR [By using this website you agree to be bound by the terms and conditions of this linking policy.]</p>
<p><strong>Links to [Domain]</strong></p>
<p>Links pointing to [Domain] should not be misleading.</p>
<p>Appropriate link text should be always be used.</p>
<p>[From time to time we may update the URL structure of our website, and unless we agree in writing otherwise, you are responsible for updating said links.] You must not use our logo to link to this website (or otherwise) without our express written permission.</p>
<p>You must not frame the content of this website or use any similar technology in relation to the content of this website.</p>
<p><strong>Links from this website</strong></p>
<p>This website includes links to other websites owned and operated by third parties. These links are not endorsements or recommendations.</p>
<p>[Domain] has no control over the contents of third party websites, and [Domain] accepts no responsibility for them or for any loss or damage that may arise from your use of them.</p>
<p><strong>Removal of links</strong></p>
<p>You agree that, should we request the deletion of a link to [Domain] that is within your control, you will delete the link promptly.</p>
<p>If you would like us to remove a link to your website that is included on [Domain], please contact us using the contact details below. Note that unless you have a legal right to demand removal, such removal will be at our discretion.]</p>
<p><strong>Changes to this linking policy</strong></p>
<p>We may amend this linking policy at any time by publishing a new version on this </p>
<p>website.</p>
<p><strong>Contact us</strong></p>
</p>Should you have any questions about this linking policy, please contact us using the details set out below:</p>
<p>Contact Email: [Email],All Rights Reserved.</p>
