<p>Effective date - [Last Updated]</p>
<strong>If you choose to provide us with your email address or any other personally identifiable information, we will use it only to send you our newsletter or respond to your query.</strong>
<p>If you choose to unsubscribe from the newsletters, you’ll stop receiving any newsletters.</p>
<strong>COPYRIGHT</strong>
<p>We [Business Name], reserve all copyrights on text or images on the newsletter. The text or images in the newsletter may not be copied or distributed without prior permission of [Business Name].</p>
<p>If there is any approved use of content, the following conditions should be followed:<ul><li>The source of copied material should be mentioned as [Business Name],</li><li>This statement should appear on all forms of distribution.</li></ul></p>
<strong>E-MAIL</strong>
<p>You may choose to communicate with us via e-mail. However, in case you do so, you should note that the security of internet e-mail is unreliable. By sending confidential or sensitive e-mail messages which are unencrypted you accept the risks of such uncertainty and possible breach of confidentiality or privacy over the internet.</p>
<strong>NO WARRANTY</strong>
<p>The information contained in this newsletter is provided by [Business Name] as a service/promotion to its users, subscribers, customers and possible others. It does not contain (legal) advice. Although we try to provide quality information, we  do not guarantee of results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to warranties of performance for a particular purpose.</p>
<strong>NO LIABILITY</strong>
<p>In no way [Business Name] is liable to user or any other party for any damages, costs of any character including but not limited to direct or indirect, consequential, incidental or other costs or damages, via the use of the information contained in the newsletters.</p>
<strong>CHANGES</strong>
<p>We may make changes to this information at any time without prior notice. We make no commitment to update the information contained in this newsletter.</p>
