<p>Effective date - [Last Updated]</p>
<p>The following returns policy applies to all items sold on [Business Name].</p>
<p>If you are not fully satisfied with your purchase, return it. It’s easy! You may return it with your original sales receipt, gift receipt or original packing slip. We will happily exchange the item or refund your full purchase price.</p>
<p>An item not marked as non-returnable on the product detail page is eligible for return within the applicable return window if it fulfills one or more of the following conditions:</p>
<p>- Was in a physically damaged condition at the time of delivery</p>
<p>- Has one or more parts of accessories missing</p>
<p>- Does not match with what was ordered</p>
<p>Items must be returned in the original manufacturer's packaging.</p>