<p>Effective date - [Last Updated]</p>
<p>Thanks for purchasing our products at [Domain] operated by [Business Name].</p>
<p>We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the product that you have purchased from us, you can get your money back no questions asked.</p>
<p>In order to be eligible for a refund, you have to return the product within [Return Period] calendar days of your purchase to the below-mentioned address in the same condition that you receive it and undamaged in any way.</p>
<p>
[Business Name]
[Address]
[City, State, Zip code]
[Country]
</p>
<p>Contact our customer services department to get a free shipping label.</p>
<p>
Phone: [Phone]
Email: [Email]
</p>
<p>If the product is damaged in any way, or you have initiated the return after [Return Period] calendar days have passed, you will not be eligible for a refund.</p>
<p>After we receive your item, our team of professionals will inspect it and process your refund. The money will be refunded to the original payment method you’ve used during the purchase. Note that it may take [Refund Processing Period] business days for a refund to show up on your account or credit card statement.</p>
<p>If you have any additional questions or would like to request a refund, feel free to contact us using the contact information below.</p>
<p>
[Business Name]
[Address]
[City, State, Zip code]
[Country]
Phone: [Phone]
Email: [Email]
</p>