<p>Effective date - [Last Updated]</p>
<p>Thanks for purchasing our products at [Domain] operated by [Business Name].</p>
<p>Due to the nature of our business and products we sell, items that expire sooner than [Return Period] from the date of the purchase are not eligible for a refund.</p>
<p>For any other items to be eligible for a refund, you have to return the item you have purchased to us within [Return Period] calendar days of the purchase. The item must be unopened and in its original condition.</p>
<p>Contact our customer services department to get a free shipping label.</p>
<p>If our products arrived damaged, rotten or contaminated in any way, please contact us right away and we will be happy to send a free replacement regardless of its expiration date.</p>
<p>If you have any additional questions or would like to request a refund, feel free to contact us using the contact information below.</p>
<p>
[Business Name]
[Address]
[City, State, Zip code]
[Country]
Phone: [Phone]
Email: [Email]
</p>