<p>Effective date - [Last Updated]</p>
<p>Thanks for purchasing our products (or subscribing to our services) at [Domain] operated by [Business Name].</p>
<p>We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the product that you have purchased from us, you can get your money back, no questions asked.</p>
<p>You are eligible for a full reimbursement within [Return Period] calendar days of your purchase. After the [Return Period]-day period you will no longer be eligible and won't be able to receive a refund.</p>
<p>We encourage our customers to try the product (or service) in the first [Return Period] days after their purchase to ensure it fits your needs.</p>
<p>If you have any additional questions or would like to request a refund, feel free to contact us using the contact information below.</p>
<p>
[Business Name]
[Address]
[City, State, Zip code]
[Country]
Phone: [Phone]
Email: [Email]
</p>