/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.clear {
	clear: both;
}

#lp_generalid {
	padding: 5px 20px 20px 20px;
	width: 73%;
	float: left;
}

#lp_generalid_right {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-bottom: 10px;
	display: inline-block;
}

#lp_generalid p {
	font-size: 16px;
}

#lp_generalid input[type="text"] {
	width: 800px;
	height: 30px;
	color: #666;
	font-size: 20px;
	padding: 3px 4px;
}

#lp_generalid input[type="submit"] {
	width: 100px;
	height: 30px;
	color: #000;
	cursor: pointer;
	font-size: 19px;
	padding: 0;
	background-color: #286090;
}

#lp_generalid_right li {
	list-style: square;
	line-height: 20px;
	list-style-position: inside;
	padding-left: 10px;
}

#lp_generalid_right li span {
	font-size: 16px;
	cursor: pointer;
}

#lp_generalid p a {
	text-decoration: none;
}

#content p {
	width: 800px;
}

a {
	text-decoration: none;
}

.hndle {
	cursor: pointer;
	margin-top: 28px;
	margin-bottom: 18px;
}

#lp_admin_generalid {
	padding: 5px 20px 20px 20px;
	width: 755px;
	float: left;
}

#lp_admin_generalid td {
	padding: 5px;
	height: 20px;
	font-size: 14px;
}

.toplevel_page_legal-pages .postbox.legalpages-settings {
	min-height: 635px;
}

#lp_admin_generalid_right img {
	margin-bottom: 0.5%;
}

#lp_admin_generalid input[type="text"],
#lp_admin_generalid select {
	width: 300px;
	height: 30px;
	font-size: 14px;
	color: #666;
}

#lp_admin_generalid p {
	font-size: 16px;
}

#lp_admin_generalid p a {
	text-decoration: none;
}

.savesettings {
	margin-right: 12px;
	border: medium none;
	background: rgb(2, 103, 189) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	padding: 10px 13px 10px 15px;
	text-align: center;
	border-radius: 3px;
	font-weight: bold;
}

.mybtn {
	padding-bottom: 30px !important;
	border: 1px solid grey !important;
	color: white !important;
}

.myText {
	width: 760px !important;
}

.myLink {
	text-decoration: none !important;
	color: #007bff !important;
}

.myLabel {
	color: #337ab7 !important;
	font-size: 14px !important;
}

.myLabel-head {
	color: #27272a;
	font-size: 18px;
	font-weight: 500;
}
.all-pages{
	margin-left: 240px;
	width: auto !important;
}
.create-popup{
	margin-left: 210px;
	width: auto !important;
}

.myAlert {
	font-size: 12px !important;
	padding: 5px !important;
}

.label-success {
	background-color: #5cb85c;
}

.label {
	display: inline;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
}

/* toggle css */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked+.slider {
	background-color: #2196f3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}

.slider.round:before {
	border-radius: 50%;
}

.lp_eu_custom_css {
	margin-top: 15px;
}

#lp_eu_theme_css {
	position: relative;
	top: -5px;
}

.field_title {
	color: #337ab7 !important;
	font-size: 14px !important;
}

.top_pad {
	padding-top: 20px;
}

.left_pad {
	padding-top: 12px;
	padding-left: 14px;
}

.all_pad {
	padding: 20px;
}

.title-head {
	color: #0073aa !important;
	font-size: 22px !important;
}

/* toggle css */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
}

/* WP pointer */
.wp-pointer {
	left: 440px !important;
	width: 432px !important;
}

.more-info {
	padding: 25px 33px;
	overflow: hidden;
}

.postbox .hndle.myLabel-head {
	padding: 15px 10px !important;
	font-size: 20px;
	background-color: #0073aa !important;
	color: white !important;
	margin: 0;
}

.toplevel_page_legal-pages .postbox.lp-accept-terms {
	min-height: 220px;
}

.postbox.lp-accept-terms .myLabel-head {
	color: inherit;
}

.postbox.lp-accept-terms h4.myLabel-head {
	font-size: 18px;
	margin-left: 1.33em;
}

.postbox.lp-accept-terms div {
	margin: 0 2em;
	padding: 0 0 1em 0;
}

.postbox.lp-accept-terms>div {
	margin: 0;
	padding: 0;
}

.postbox.lp-accept-terms div.lp_accept_terms #lp_accept_submit.focus,
.postbox div.lp_accept_terms #lp_accept_submit:focus {
	box-shadow: none;
}

.postbox.lp-accept-terms div a.is-disabled {
	pointer-events: none;
}

.postbox.lp-accept-terms div p,
.postbox.lp-accept-terms div a {
	font-size: 14px;
	line-height: 20px;
}

.postbox.lp-accept-terms div a:focus {
	box-shadow: none;
}

.postbox.lp-accept-terms div ul {
	list-style: disc;
	margin: 1em;
}

.postbox.lp-accept-terms div ul li {
	margin: 1em;
}

.postbox.lp-accept-terms div ul li a:hover {
	cursor: pointer;
}

.wrap.legal-admin-page {
	margin: 0;
}

div#lp_admin_generalid {
	width: 100%;
}

div#lp_admin_generalid_right {
	display: inline-block;
	width: 100%;
	padding: 30px;
}

.lp-pro-link {
	display: inline-block;
	border: 1px solid;
}

.lp-pro-link .hndle {
	cursor: pointer;
	padding: 5px;
	font-size: 20px;
	margin: 5px;
}

.lp_generalid_right_wraper {
	display: inline-block;
	width: 25%;
}

.lp_generalid_right_wraper {
	padding-top: 20px;
}

div.wplegalpages-addon-promotion>a,
div.wplegalpages-pro-promotion>a {
	display: block;
	margin: 1% auto;
	text-align: center;
}

div.wplegalpages-addon-promotion img,
div.wplegalpages-pro-promotion img {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

div.wplegal-choose-template {
	padding: 10px;
}

div.wplegal-choose-template select.wplegal-template-language {
	width: 100%;
}

.wplegalpages_settings_warning {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#wplegal_refund_list {
	padding-left: 20px;
}

#wplegal_accordian {
	list-style-type: none !important;
}

#wplegal_accordian::before {
	content: "\271A";
	color: #000;
	font-size: 12px;
	margin-left: -3px;
	margin-right: 7px;
}

.wplegal-accordian-active::before {
	content: "\2212" !important;
	color: #000 !important;
	font-weight: 1000;
}

.wplegal-tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.wplegal-tooltip .wplegal-tooltiptext {
	visibility: hidden;
	width: 135px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1001;
	top: 25px;
	left: -110px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.wplegal-tooltip:hover .wplegal-tooltiptext {
	visibility: visible;
}

.wplegal-tooltip .dashicons-info {
	margin-top: 2.5px;
	font-size: 15px;
}

.wplegal-tooltip .wplegal-tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 89%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

/* Settings Page CSS */
body.toplevel_page_wplegalpages-settings-page div.notice {
	display: none;
}

#wplegal-wpcc-notice {
	display: block;
}

#wplegal-disconnect-wpcc-notice {
	display: block;
}

body.toplevel_page_wplegalpages-settings-page #wpbody-content {
	padding-bottom: 0;
}

#wplegalpages-settings-app.wplegalpages-app-container {
	/* background-color: #F3F6FF; */
	/* margin-left: -20px; */
	/* padding-bottom: 32px; */
	/*font-family: 'Lato', sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
	line-height: 20px;
	min-height: 750px;
	color: #3c4b64;
	/* padding-top: 32px; */
}

#wplegalpages-settings-app.wplegalpages-app-container span,
#wplegalpages-settings-app.wplegalpages-app-container button,
#wplegalpages-settings-app.wplegalpages-app-container a {
	/*font-family: 'Lato', sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* color: #3c4b64; */
}

#wplegalpages-settings-app.wplegalpages-app-container p {
	/*font-family: 'Lato', sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #3c4b64;
}

#wplegalpages-settings-app .wplegalpages-settings-container {
	padding: 0;
	margin: 0;
	width: 100%;
}
#wplegalpages-settings-app
  .wplegalpages-settings-nav
  .nav.nav-pills{
	display: flex !important;
	flex-wrap: nowrap;
  }
.wplegalpages-settings-nav {
	display: flex;
	flex-direction: column;
	margin-left: 260px;
	margin-right: 0px;
	gap: 20px;
	width: 100%;
}
#wplegalpages-help-app .wplegalpages-settings-nav{
	display: flex;
	margin: 0 auto;
	gap: 20px;
	width: 83%;
	padding-top: 20px;
}

#wplegalpages-settings-general {
	margin-bottom: 0px;
}

#wplegalpages-settings-general .card-body {
	padding-right: 5px;
}



#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) {
	background-color: white;
	padding: 16px 0;
	top: 32px;
	z-index: 1001;
	align-items: unset;
	padding-left: 20px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1),
#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2),
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1),
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2) {
	display: flex;
	justify-content: left;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2),
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2) 
	{
	width: 78%;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) .nav,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) .nav
	{
	display: block;
	text-align: center;
	margin-top: 10px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item {}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item a.nav-link,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item a.nav-link 
	{
	color: #3c4b64;
	font-weight: 600;
	display: flex;
	padding: 12px 30px;
	border-bottom: 1px solid #e4e4e7;
	border-right: 0px;
	border-radius: 0px;
	padding: unset;
	font-size: 14px;
	width: 108px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.card-body {
	padding-left: 0px;
	padding-top: 25px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item a.nav-link.active,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item a.nav-link.active 
	{
	color: #0059b3;
	background-color: #ffffff;
	display: flex;
	border-bottom-color: #0059b3;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(1) ul li.nav-item a.nav-link:focus {
	box-shadow: none;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2) .tab-content,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2) .tab-content 
	{
	width: 100%;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card 
	{
	padding: 0;
	margin: 0;
	max-width: 92%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-header,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-header 
	{
	font-weight: 600;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-top,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-top 
	{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
	margin-top: 20px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-bottom {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-bottom .wplegalpages-save-button,
#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-top .wplegalpages-save-button {
	width: 750px;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-bottom .wplegalpages-save-button button,
#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-top .wplegalpages-save-button button {
	float: right;
}

.wplegalpages-save-button button,
.wplegalpages-save-button input[type="submit"] {
	padding: 12px 35px 12px 35px;
	border: 1px solid #7195d0;
	color: #2a4a7e;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-right: -11px;
}

.wplegalpages-save-button button:hover,
.wplegalpages-save-button button:focus,
.wplegalpages-save-button input[type="submit"]:hover,
.wplegalpages-save-button input[type="submit"]:focus {
	background-color: #0059b3;
	color: #ffffff;
}

/* form elements css */
#wplegalpages-settings-app .form-control,
#wplegalpages-help-app .form-control {
	border-color: #d8dbe0;
	color: #3c4b64;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #d4d4d8;
	height: 37px;
	margin-top: 3px;
	margin-left: 1px;
}
#wplegalpages-help-app .form-textarea {
	border-color: #d8dbe0;
	color: #3c4b64;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #d4d4d8;
	margin-top: 3px;
	margin-left: 1px;
	width: 100%;
}

#wplegalpages-settings-app .form-control:focus,
#wplegalpages-help-app .form-control:focus {
	color: #768192;
	box-shadow: 0 0 0 1px #2271b1;
}
#wplegalpages-help-app .form-textarea:focus {
	color: #768192;
	box-shadow: 0 0 0 1px #2271b1;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 
	{
	display: flex;
	align-items: center;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 label,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 label 
	{
	vertical-align: unset;
	margin-bottom: 1rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 .c-icon,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 .c-icon 
	{
	vertical-align: text-bottom;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 div.tooltip-old,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 div.tooltip-old 
	{
	top: -0.25rem !important;
	padding: 0.5rem 0 !important;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 div.tooltip-old div.arrow,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-4 div.tooltip-old div.arrow 
	{
	left: 0 !important;
	margin-left: 5.75rem !important;
	height: 0.5rem !important;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 label.c-switch,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 label.c-switch 
	{
	margin-bottom: 1rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group select ,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group select 
	{
	max-width: 100%;
	font-size: 14px;
	color: #3c4b64;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select input[type="search"],
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select input[type="search"] 
 {
	border: unset;
	color: inherit;
	margin: 0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select input[type="search"]:focus,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select input[type="search"]:focus 
	{
	box-shadow: unset;
	margin: 0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select:focus-within,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 div.form-group.v-select:focus-within 
	{
	box-shadow: 0 0 0 1px #2271b1;
	border-radius: 0.25rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch-input:focus~.c-switch-slider,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch-input:focus~.c-switch-slider 
	{
	box-shadow: 0 0 0 1px #2271b1;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch[class*="-3d"] .c-switch-slider,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch[class*="-3d"] .c-switch-slider 
	{
	border-color: #d8dbe0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch-3d-success .c-switch-input:checked+.c-switch-slider,
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav .tab-content .card .card-body .row .col.col-sm-8 .c-switch-3d-success .c-switch-input:checked+.c-switch-slider 
	{
	border-color: #0059b3;
	background-color: #0059b3;
}

.wplegalpages-additional-features-buttons {
	display: flex;
	justify-content: space-between;
}

.wplegalpages-additonal-features-tab {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(max-content, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#wplegalpages-save-settings-alert {
	position: fixed;
	/* width: 250px; */
	max-width: 350px;
	/* height: 43px; */
	background-color: #72b85c;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	display: none;
	z-index: 1002;
	background-color: #ecfdf3;
	font-weight: 800;
	color: #027a48;
	border: 1px solid #027a4833;
	border-radius: 5px;
	left: 44%;
    top: 35%;
}

div.ql-toolbar.ql-snow {
	display: none;
}

.ql-container.ql-snow {
	border: 1px solid #ccc !important;
}

.wplegalpages-draggable-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 6px 12px;
	box-sizing: border-box;
	border: 1px solid #39f;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
	cursor: move;
	background-color: #f0f0f0;
}

.wplegalpages-custom-css-heading {
	font-weight: 600;
	color: #3c4b64;
}

.wplegalpages-custom-css-links {
	cursor: pointer;
	text-decoration: underline;
	color: #321fdb;
}

/***Vue Modal CSS***/
#wplegalpages-settings-app .wplegalpages-settings-container .vm {
	max-width: 850px;
	left: 5%;
}

#wplegalpages-settings-app .wplegalpages-settings-container .vm .vm-titlebar .vm-title {
	padding-left: 1.25rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .vm .vm-titlebar .vm-btn-close {
	padding-right: 1.25rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .vm .vm-titlebar .vm-btn-close:focus {
	outline: none;
}

#wplegalpages-settings-app .wplegalpages-settings-container .vm .card {
	border: none;
	margin-bottom: 0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row {
	margin-bottom: 0.5rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-4 {
	display: flex;
	align-items: center;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-4 label {
	vertical-align: unset;
	margin-bottom: 1rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-4 .c-icon {
	vertical-align: text-bottom;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-4 div.tooltip-old {
	top: -0.25rem !important;
	padding: 0.5rem 0 !important;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-4 div.tooltip-old div.arrow {
	left: 0 !important;
	margin-left: 5.75rem !important;
	height: 0.5rem !important;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 label.c-switch {
	margin-bottom: 1rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 div.form-group select {
	max-width: 100%;
	font-size: 14px;
	color: #3c4b64;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 div.form-group.v-select input[type="search"] {
	border: unset;
	color: inherit;
	margin: 0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 div.form-group.v-select input[type="search"]:focus {
	box-shadow: unset;
	margin: 0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 div.form-group.v-select:focus-within {
	box-shadow: 0 0 0 1px #2271b1;
	border-radius: 0.25rem;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 .c-switch-input:focus~.c-switch-slider {
	box-shadow: 0 0 0 1px #2271b1;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 .c-switch[class*="-3d"] .c-switch-slider {
	border-color: #d8dbe0;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col.col-sm-8 .c-switch-3d-success .c-switch-input:checked+.c-switch-slider {
	border-color: #0059b3;
	background-color: #0059b3;
}

.c-switch-3d-success .c-switch-input:checked+.c-switch-slider {
	background-color: #0059b3;
}

.wplegalpages-color-pick {
	display: flex;
}

.wplegalpages-color-input {
	width: 91%;
}

.wplegalpages-color-input input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.wplegalpages-color-select {
	width: 9%;
}

.wplegalpages-color-select input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 2px;
}

.wplegalpages-modal-buttons {
	display: flex;
	justify-content: end;
}

.wplegalpages-modal-button {
	margin-left: 1.25rem;
}

.wplegalpages-modal-footer {
	margin-bottom: 0 !important;
}

.wplegalpages-additional-features-descripiton p {
	min-height: 60px;
}

.wplegal-templates {
	padding-left: 0 !important;
}

.wplegalpages-label-row {
	margin-bottom: 0 !important;
}

.wplegalpages-full-width-input {
	width: 100%;
}

#wplegalpages-settings-app .wplegalpages-settings-container .row .col>label {
	margin-bottom: 0.2rem !important;
	font-size: 16px;
	font-weight: 500;
	color: #52525b;
	line-height: 20px;
	margin-left: 1px;
}

.wplegal-tooltip-image {
	width: 0.8rem;
	height: 0.8rem;
}

.wplegal-form-tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.wplegal-form-tooltip .wplegal-form-tooltiptext {
	visibility: hidden;

	color: #ffffff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 2px;
	font-size: 0.75rem;

	width: 180px;
	bottom: 100%;
	left: 50%;
	margin-left: -90px;

	opacity: 0;
	transition: opacity 1s;

	position: absolute;
	z-index: 1;

	background: black;
}

/* Show the tooltip text when you mouse over the tooltip container */
.wplegal-form-tooltip:hover .wplegal-form-tooltiptext {
	visibility: visible;
	opacity: 0.9;
	z-index: 999999;
}

.wplegal-form-tooltip .wplegal-form-tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.wplegal-form-bottom-tooltip {
	position: relative;
	display: inline-block;
}

.wplegal-form-bottom-tooltip .wplegal-form-bottom-tooltiptext {
	visibility: hidden;
	color: #ffffff;
	text-align: center;
	padding: 5px 0px;
	border-radius: 2px;
	font-size: 0.75rem;
	width: 180px;
	margin-left: -90px;
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	z-index: 1;
	background: black;
	z-index: 1;
	top: 115%;
	left: 50%;
	margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.wplegal-form-bottom-tooltip:hover .wplegal-form-bottom-tooltiptext {
	visibility: visible;
	opacity: 0.9;
	z-index: 999999;
}

.wplegal-form-bottom-tooltip .wplegal-form-bottom-tooltiptext::after {
	content: " ";
	position: absolute;
	margin-left: -35px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	bottom: 100%;
	left: 50%;
}

.wplegalpages-help-text {
	color: #71717a;
	font-weight: 400;
	max-width: 72%;
	display: block;
	font-size: 14px;
}

.wplegal-compliances-text {
	width: 500px;
	height: 64px;
}

.wplegal-compliances-switch {
	width: 200px;
	height: 64px;
	padding: 18px 122px 18px 28px;
	margin-left: 20px;
}

.wplegal-compliances-switch .c-switch {
	width: 50px;
	height: 27px;
}

.input-with-support-text {
	margin-bottom: 0.2rem;
}

.wplegal-support-text-row {
	margin-bottom: 27px !important;
	justify-content: space-between;
}

.wplegal-support-text-row .col-sm-2 .c-switch {
	width: 50px;
	height: 27px;
}

.wplegal-support-text-row .col-sm-2 {
	max-width: 65px;
}

.wplegalpages-shortcode-table {
	margin-left: 10%;
	margin-right: 10%;
	color: #3c4b64;
}

.wplegalpages-shortcode-table .row {
	padding: 0.5rem;
	margin-bottom: 0 !important;
}

.wplegalpages-shortcode-table-odd {
	background-color: #f3f6ff;
}

.wplegalpages-shortcode-table-header {
	border-bottom: 1px solid #9ea1aa;
	font-weight: bold;
}

.wplegalpages-input-for-toggle-button {
	margin-top: -1rem;
}

.wplegalpages-go-pro-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid #3399ff;
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	color: #3399ff;
}

.wplegalpages-configure-section {
	max-width: 23%;
}

.wplegalpages-configure-button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	user-select: none;
	border: none;
	padding: 0;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 0.25rem;
	color: #717b8e;
	font-weight: 500;
	vertical-align: middle;
	height: 64px;
}

.wplegalpages-configure-button>span {
	color: #52525b;
}

.wplegalpages-configure-button:focus {
	outline: none;
	box-shadow: none;
}

.wplegalpages-configure-button:focus-visible {
	outline: none;
}

.wplegalpages-configure-image {
	height: 32px;
	width: 32px;
	margin-right: 8px;
}

.wplegalpages-configure-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #52525b;
}

.wplegalpages-go-pro-link {
	color: #3399ff;
}

.wplegalpages-go-pro-link:hover {
	color: #3399ff;
	text-decoration: none;
}

.wplegalpages-go-pro-link:focus {
	color: #3399ff;
	text-decoration: none;
}

.wplegalpages-shortcode-tab-description {
	margin-bottom: 1.2rem !important;
	margin-left: 8%;
	margin-right: 8%;
	border: 1px solid #d8dbe0;
	padding: 1rem;
}

.wplegalpages-pro-promotion-settings-page img {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.wplegalpages-pro-promotion-settings-page>a {
	display: block;
	margin: 1% auto;
	text-align: center;
	padding-right: 20px;
	margin-bottom: 0;
}

/* RE VAMP CSS*/
body.toplevel_page_legal-pages #wpcontent {
	padding-left: 0;
	background: #f0f0f1;
}

.wp-legalpages-main-admin-structure .wp-legalpages-admin-fixed-banner {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background: #084EA8;
	position: relative;
	left: -20px;
	width: 102%;
}

.wp-legalpages-main-admin-structure .wp-legalpages-admin-fixed-banner .wp-legalpages-admin-logo-and-label {
	display: flex;
	margin-left: 50px;
}

.wp-legalpages-main-admin-structure .wp-legalpages-admin-fixed-banner .wp-legalpages-admin-help-and-support {
	display: flex;
	margin-right: 60px;
}

.wp-legalpages-admin-logo-and-label .wp-legalpages-admin-logo {
	height: 75px;
	width: 75px;
}

.wp-legalpages-admin-fixed-banner .wp-legalpages-admin-logo,
.wp-legalpages-admin-fixed-banner .wp-legalpages-admin-label,
.wp-legalpages-admin-fixed-banner .wp-legalpages-admin-help,
.wp-legalpages-admin-fixed-banner .wp-legalpages-admin-support {
	margin: auto 0;
}

.wp-legalpages-admin-fixed-banner .wp-legalpages-admin-label {
	margin-left: 15px;
}

.wp-legalpages-admin-label_wp_label {
	padding-bottom: 5px;
}

.wp-legalpages-admin-help,
.wp-legalpages-admin-support {
	display: flex;
}

.wp-legalpages-admin-help-and-support .wp-legalpages-admin-support {
	padding-left: 30px;
}

.wp-legalpages-admin-help-and-support .wp-legalpages-admin-help-text,
.wp-legalpages-admin-help-and-support .wp-legalpages-admin-support-text {
	padding-left: 6px;
	color: var(--white, #fff);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	margin: 8px auto;
}

.wp-legalpages-admin-help-and-support .wp-legalpages-admin-help-text.lp-terms-not-acpt,
.wp-legalpages-admin-help-and-support .wp-legalpages-admin-support-text.lp-terms-not-acpt {
	margin: 5px auto;
}

.wp-legalpages-admin-help-and-support .wp-legalpages-admin-help-text a,
.wp-legalpages-admin-help-and-support .wp-legalpages-admin-support-text a {
	text-decoration: none;
	color: var(--white, #fff);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
}

.wp-legalpages-main-admin-header .wp-legalpages-admin-promotional-banner {
	margin: 20px;
}

.wp-legalpages-admin-logo img {
	height: 46px;
	margin-top: 14px;
}

.wp-legalpages-admin-promotional-banner img {
	width: 100%;
	height: 152px;
	display: block;
}

.wp-legalpages-admin-label_wp_label img {
	width: 155px;
	height: 16px;
	flex-shrink: 0;
}

.wp-legalpages-admin-label_gdpr_label img {
	width: 85px;
	height: 13.333px;
	flex-shrink: 0;
}

.wp-legalpages-admin-help-icon img,
.wp-legalpages-admin-support-icon img {
	width: 18px;
	height: 18px;
}

/* tabs styling  */

.wp-legalpages-admin-tabs-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px 0 20px;
	min-height: 44px;
	margin-top: 20px;
	position: sticky;
    top: 39px;
    z-index: 99;
}

.wp-legalpages-admin-tab {
	border: 1px solid var(--gray-200, #e4e4e7);
}

.wp-legalpages-admin-tabs-section .wp-legalpages-admin-tabs {
	display: flex;
	flex-direction: row;
	gap: 5px;
	flex: none;
	order: 0;
	flex-grow: 0;
	justify-content: space-evenly;
	align-items: center;
}

.wp-legalpages-admin-tab,
.wp-legalpages-admin-tab-link {
	display: flex;
	min-width: 250px;
	height: 44px;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid var(--gray-200, #e4e4e7);
	background: var(--gray-50, #fafafa);
	cursor: pointer;
	text-decoration: none;
}
.wp-legalpages-admin-tab-link:hover{
	text-decoration: none;
}

/* Media query for MacBook Air */
@media only screen and (max-device-width: 1500px) and (min-device-width: 1280px) {

	/* Assuming MacBook Air screen size falls within these dimensions */
	#wplegalpages-settings-app .wplegalpages-settings-container .wplegalpages-settings-content .wplegalpages-settings-nav>div:nth-child(2) .tab-content {
		width: 100%;
	}

	.wplegal-support-text-row .col-sm-10 {
		padding-left: 40px;
	}

	.wp-legalpages-admin-tab {
		min-width: 236px;
	}

	.wplegal-support-text-row .col-sm-2 {
		max-width: 73px;
	}

	.card-body {
		padding-left: 11px;
	}

	.wplegalpages-input-for-helping-toggle-button {
		margin-left: 21px;
	}

	.wplegalpages-input-for-helping-toggle-button .helping-text {
		padding-left: 5px;
	}

	#wplegalpages-settings-general .card-body {
		padding-right: 20px;
	}

	.wplegalpages-save-button button {
		margin-right: -3px;
	}
}

.wp-legalpages-admin-tab .wp-legalpages-admin-tab-name,
.wp-legalpages-admin-tab-link .wp-legalpages-admin-wplp-tab {
	color: var(--gray-700, #3f3f46);
	padding: 10px 20px;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	text-decoration: none;
}

.wp-legalpages-admin-tab .wp-legalpages-admin-tab-name.lp-terms-not-acpt {
	padding: 0;
}

.wp-legalpages-admin-tab.active-tab,
.wp-legalpages-admin-tab-link.legalpages-tab.active-tab {
	border-radius: 4px 4px 0px 0px;
	border: 1px solid var(--gray-200, #e4e4e7);
	background: #0059B3;
}

.wp-legalpages-admin-tabs-content {
	margin: 20px;
	margin-top: 0;
}

.wp-legalpages-admin-tabs-inner-content .card {
	border: none;
	border-radius: 4px;
	border-right: 1px solid var(--gray-200, #e4e4e7);
	border-bottom: 1px solid var(--gray-200, #e4e4e7);
	border-left: 1px solid var(--gray-200, #e4e4e7);
	border-top: 1px solid var(--gray-200, #e4e4e7);
	background: #fff;
}

.wp-legalpages-admin-tabs-section.pro-is-activated {
	padding-top: 20px;
}

.wp-legalpages-admin-tab.pro-is-activated {
	min-width: 225px;
}

.wp-legalpages-admin-tab.active-tab,
.wp-legalpages-admin-tab-link.legalpages-tab.active-tab {
	border-bottom-color: #0059b3;
}
.wp-legalpages-admin-tab-link.legalpages-tab.active-tab .wp-legalpages-admin-wplp-tab{
	color: #ffffff !important;
}
.wp-legalpages-settings-nav {
	display: flex;
}

#wp-legalpages-settings-app .wp-legalpages-settings-nav .nav.nav-pills {
	display: flex;
	flex-direction: column;
}

#wp-legalpages-settings-app .wp-legalpages-settings-nav .tab-content .tab-pane.active .desgin_card,
#wp-legalpages-settings-app .wp-legalpages-settings-nav .tab-content .tab-pane.active .configuration_card,
#wp-legalpages-settings-app .wp-legalpages-settings-nav .tab-content .tab-pane.active .compliances_card {
	margin-top: -26px;
}

.consent-logs-export-btn,
.policy-export-btn,
.policy-import-btn {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: none;
	top: -3px;
	margin-left: 4px;
	border: 1px solid #2271b1;
	border-radius: 3px;
	background: #f6f7f7;
	font-size: 13px;
	font-weight: 400;
	line-height: 2.15384615;
	color: #2271b1;
	padding: 0 10px;
	min-height: 30px;
	-webkit-appearance: none;
}

#consentLogDataTabContainer .subsubsub {
	display: none;
}

#gdprCookieConsent.wpl.wrap {
	margin: 0;
	border-radius: 4px;
	border-right: 1px solid var(--Gray-200, #e4e4e7);
	border-bottom: 1px solid var(--Gray-200, #e4e4e7);
	border-left: 1px solid var(--Gray-200, #e4e4e7);
	background: var(--white, #fff);
	border-top: 1px solid var(--Gray-200, #e4e4e7);
}

#policyDataTabContainer.wpl-content-area {
	background-color: white;
	padding: 30px;
}

.wp-legalpages-admin-tabs-content .wp-legalpages-admin-tabs-inner-content,
wp-legalpages-admin-tab-content {
	min-height: 500px;
}

#wp-legalpages-main-admin-header .wp-legalpages-admin-help-and-support .wp-legalpages-admin-help .wp-legalpages-admin-help-icon,
#wp-legalpages-main-admin-header .wp-legalpages-admin-help-and-support .wp-legalpages-admin-support .wp-legalpages-admin-support-icon {
	cursor: pointer;
	margin-top: 3px;
}

.wp-legalpages-admin-tabs-content .wp-legalpages-admin-tabs-inner-content .wp-legalpages-admin-tab-content {
	background: var(--white, #fff);
}

.wp-legalpages-admin-tabs-content .wp-legalpages-admin-tabs-inner-content .wp-legalpages-admin-tab-content .wrap {
	margin: 0;
	padding: 30px;
	padding-top: 0px;
	min-height: 665px;
}

#create_popup {
	padding: 30px;
	min-height: 1350px;
}

#create_popup .wrap .widefat.table-striped a {
	color: #23527c;
}

#getting_started a {
	color: #23527c;
}

.wplegalpages-pro-promotion-settings-page,
.wplegalpages-pro-promotion {
	display: none;
}

/* all pages tab */
table thead .wplegalpages-all-pages-heading {
	background-color: #f4f4f5;
}

table thead .wplegalpages-all-pages-heading th {
	border: 1px solid #e4e4e7;
	padding-left: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #3f3f46;
}

.table-striped-all-pages tbody tr .wplegalpages-no-pages {
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 47%;
	border: none;
	font-size: 14px;
	font-weight: 400;
	color: #3f3f46;
}

table thead .wplegalpages-all-pages-heading .wplegalpages-all-pages-heading-last {
	text-align: center;
}

.table-striped-all-pages tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.table-striped-all-pages tbody tr:nth-of-type(even) {
	background-color: rgba(0, 0, 21, 0.05);
}

.table-striped-all-pages tbody tr td {
	padding-left: 20px;
	color: #3f3f46;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid #e4e4e7;
}

.table-striped-all-pages tbody tr .wplegal-table-link {
	text-align: center;
	font-size: 10px;
}

table tbody tr td .table-link {
	padding: 5px;
	text-align: center;
	color: #3f3f46;
}

table tbody tr td .table-link:hover {
	color: #0059b3;
	text-decoration: underline;
}

table tbody tr td .table-link-alert:hover {
	color: #d92d20;
	text-decoration: underline;
}
/* Connect to API  Framework Banner Style */

.wplegalpages-connect-api-container {
	background: #edf6fb;
	margin: 20px;
  }
  .gdpr-api-info-content {
	display: flex;
	padding: 60px;
	border: 1px solid #ddd;
	justify-content: space-between;
  }
  
  .gdpr-api-detailed-info {
	flex: 75%;
 	padding: 0px 20px;
	margin: 0px 20px;
  }
  .gdpr-api-detailed-info p span img {
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
  }
  .gdpr-api-connection-btns {
	flex: 25%;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-left: 45px;
  }
  
  .gdpr-api-info-content .gdpr-api-detailed-info h2 {
	font-family: inherit;
	font-size: 30px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	padding-bottom: 15px;
  }
  .gdpr-api-info-content .gdpr-api-detailed-info p {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #52525b;
  }
  .gdpr-api-info-content .gdpr-api-detailed-info p.italic {
	font-style: italic;
  }
  
  .gdpr-api-info-content .gdpr-api-connection-btns .gdpr-start-auth {
	width: 215px;
	height: 45px;
	border-radius: 4px;
	padding: 12px 16px 12px 16px;
	margin-bottom: 20px;
	background: transparent;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #2a4a7e;
	border: 1px solid #2a4a7e;
  }
  .gdpr-start-auth {
	width: 234px;
	height: 45px;
	border-radius: 4px;
	padding: 12px 16px 12px 16px;
	margin-bottom: 13px;
	background: #0059b3;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;
	border: none;
  }
  .gdpr-start-auth:hover {
	background-color: #0093ff;
  }
  .gdpr-dashboard-start-auth {
	cursor: pointer;
  }
  .gdpr-api-info-content .gdpr-api-connection-btns .api-connect-to-account-btn {
	width: 215px;
	height: 45px;
	border-radius: 4px;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	line-height:20px;
	letter-spacing: 0em;
	text-align: center;
	color: #2a4a7e;
  }
  .gdpr-api-info-content .gdpr-api-connection-btns .api-connect-to-account-btn {
	border: 1px solid #7195d0;
	background: #edf6fb;
  }
  .gdpr-api-info-content .gdpr-api-detailed-info h2 {
	font-size: 26px;
  }
  #gdpr-disconnect-wpcc-notice .api-connect-to-account-btn {
	color: blue;
  }
  #gdpr-disconnect-wpcc-notice .api-connect-to-account-btn {
	cursor: pointer;
  }
  .popup-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(20, 23, 34, 0.85);
	justify-content: center;
	align-items: center;
  }
  .popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(82, 82, 82, 0.4);
	z-index: 9000;
  }
  .gdpr-remaining-scans-content {
	min-height: 4em;
	display: flex;
	justify-content: flex-end;
	background-color: #16a34a;
	position: relative;
	z-index: 99;
	left: -20px;
	width: 102%;
  }
  
  .gdpr-remaining-scans-content .gdpr-remaining-scans-container {
	margin: auto 0;
	margin-left: 20px;
  }
  
  .gdpr-remaining-scans-content .gdpr-remaining-scans-container span {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height:20px;
	text-align: center;
	color: #ffffff;
  }
  
  .gdpr-remaining-scans-content .gdpr-remaining-scans-title {
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
  }
  
  .gdpr-remaining-scans-content .gdpr-current-plan-container {
	display: flex;
	margin: auto 0;
	margin-right: 35px;
  }
  .gdpr-remaining-scans-content .gdpr-current-plan-container p {
	margin: 0;
	margin-right: 25px;
	margin-top: 5px;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
  }
  .gdpr-remaining-scans-content .gdpr-current-plan-container span {
	font-family: inherit;
	font-size:14px;
	font-weight:500;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
  }
  .gdpr-remaining-scans-content .gdpr-current-plan-container img {
	height: 2.2em;
	width: 6.53em;
	cursor: pointer;
  }
  .wplegalpages-main-admin-header .gdpr-remaining-scans-content {
	background-color: #16a34a;
  }
/* connection tab styling  */
.wplegal-connection-card-body {
	display: flex;
	padding: 25px 30px;
}

.wplegal-connection-card-body .wplegal-connection-success-tick {
	padding-right: 20px;
}

.wplegal-connection-card-body .wplegal-connection-success-tick img {
	height: 50px;
	width: 50px;
}

.wplegal-connect-information h3 {
	font-size: 30px;
	font-weight: 500;
	color: #3f3f46;
}

.wplegal-connect-information p {
	margin: 0;
	font-size: 16px;
}

.wplegal-connect-information .gpdr-email-info {
	margin-top: 40px;
	margin-bottom: 10px;
}

.wplegal-connect-information p+p {
	margin-top: 15px;
	margin-bottom: 10px;
}

.wplegal-connect-information {
	font-size: 16px;
	font-weight: 400;
	color: #3f3f46;
	padding-top: 5px;
}

.wplegal-connect-information .wplegal-info-title {
	font-family: roboto;
	font-size: 16px;
	font-weight: 500;
	color: #3f3f46;
}

.wplegal-api-connection-disconnect-btn {
	width: 180px;
	height: 45px;
	border-radius: 4px;
	/* font-family: Roboto; */
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #c83d3d;
	border: 1px solid #c83d3d;
	margin-top: 64px;
	padding: 12px 45px 12px 45px;
	cursor: pointer;
}

.wplegal-api-connection-disconnect-btn:hover {
	background-color: antiquewhite;
}

/* spinner for ajax calls */
.wplegal-ajax-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
	z-index: 9999;
	/* Ensure the spinner is above other elements */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* modal notices  */

#wplegal-wpcc-notice {
	margin: 0;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

#wplegal-wpcc-notice.wplegal-hidden {
	display: none;
}

#wplegal-disconnect-wpcc-notice {
	margin: 0;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

#wplegal-disconnect-wpcc-notice.wplegal-hidden {
	display: none;
}

#wplegal-disconnect-wpcc-notice .wplegal-api-connect-existing {
	color: blue;
	cursor: pointer;
}

/* spinner for ajax calls */
.wplegal-ajax-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
	z-index: 9999;
	/* Ensure the spinner is above other elements */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.legalpages-banner-div {
	display: flex;
	justify-content: center ;
}

.legal-pages-upgrade-to-pro-banner {
	width: 103%;
	padding-right: 63px;
	padding-left: 21px;
	padding-top: 24px;
}

#gdpr-install-activate-img {
	max-width: 100%;
	position: relative;
	right: 19px;
}

.lp-popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 772px;
	background-size: cover;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 32px 33px 33px 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
}

.lp-popup-container button {
	background-color: #346DB1;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 26px;
	font-weight: 500;
	margin-top: 10px;
}

.lp-popup-container button:hover {
	background-color: #005bb5;
}

.lp-plugin-install-activation-text {
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	color: #4C4C4C;
	text-align: center;
}
#wplegalpages-help-general .col-sm-12{
	margin-top: 20px;
}
#wplegalpages-help-general h4{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
}
#wplegalpages-help-general p{
	width: 30%;
    margin: 15px auto;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
#wplegalpages-help-general .card{
	box-shadow: none !important;
}
#wplegalpages-help-app .wplegalpages-settings-container .wplegalpages-settings-bottom 
{
	display: flex;
	justify-content: center;
	padding-right: 30px;
}
.wplp-sub-tabs{
	width: 100%;
	background: #ffffff;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0 20px 0 20px;
    min-height: 44px;
    position: absolute !important;
    position: sticky;
    top: 185px;
    margin-left: 20px;
    width: fit-content;
    min-width: fit-content !important;
    z-index: 99;
    gap: 0 !important;
}
.wp-legalpages-admin-tabs.wplp-sub-tabs :nth-child(1){
  border-top: 1px solid #E4E4E7;
}
.wplp-sub-tabs .wp-legalpages-admin-tab {
	background: #FAFAFA;
	border: 1px solid #E4E4E7;
 	 border-top: none;
  	font-size: var(--text-sm-font-size);
  	font-style: normal;
  	font-weight: var(--text-semi-bold-font-weight);
	justify-content: center;
      width: 200px;
	  min-width: 200px;
    height: 50px;
    flex: none;
    border-radius: 0;
}
.wplp-sub-tabs .wp-legalpages-admin-tab.active-tab{
	border-left-color: #0059b3 !important;
	color: #0059b3 !important;
}
.wp-legalpages-admin-tab.active-tab .wp-legalpages-admin-tab-name{
	color: #ffffff;
}

/* Footer Links COnfiguration */
#wplp-conf-wrapper {
	max-width: 200% !important;
}

#wplp-conf-save-btn{
	border-radius: 4px;
	font-family: Roboto;
	background-color: #0059b3;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	border: none;
}
#wplp-conf-cancel-btn{
	border-radius: 4px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	border: none;
}

/* Banner Redesign */
.gdpr-api-detailed-info-wrapper{
	flex: 45%;
}
.gdpr-api-detailed-info-wrapper .gdpr-api-connection-btns button[class="gdpr-start-auth"]{
	width: 215px;
	height: 52px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #0059B3;
	background: transparent;
	border: 1px solid #346DB1;
  }
  .gdpr-api-detailed-info-wrapper .gdpr-api-connection-btns a.gdpr-start-auth {
	width: 215px;
	height: 52px;
	border: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #2271b1;
	padding: 0 2px;
	background: transparent;
	text-decoration: none;
  }

  .gdpr-api-detailed-info-wrapper .gdpr-api-connection-btns a.gdpr-start-auth:hover {
	text-decoration: underline;
  }
  .gdpr-api-connection-btns p{
	font-size: 14px;
	line-height: 20px;
  }
  .gdpr-api-detailed-info-wrapper .gdpr-api-connection-btns .gdpr-cookie-consent-admin-upgrade-button {
	width: 215px;
	height: 52px;
	padding: 16px 23px;
	border-radius: 4px;
	background: #074EA8;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
	border: none;
	margin-top: 0px;
  }

  #all_legal_pages .notice-success.is-dismissible{
	display: none;
  }
 